<%- include("header") %> 

<h2 class="about">About</h2>
<p class="about">This website was built as part of a web development boot camp, using: HTML, CSS, JS, Node.js, Express.js and EJS.</p>

<%- include("footer") %> 

